/*Main*/

body{
  font-family: 'Roboto', Helvetica, Arial, serif;
  text-align: center;
  padding-top: 50px;
  background-color: slategray;
}

#footer img {
   width: 36px;
   height: 36px;
}

#nav-icons img {
  width: 36px;
  height: 36px;
}

/*Nav*/
 #nav-bar{
     background-color: white;
 }

.container {
    background-color: white;
}











